# 忽略 bin/ 目录下所有玩家自行放置的游戏 .jar 包（版权合规）
bin/**/*.jar

# 允许提交保留目录结构的 .gitkeep 文件
!bin/**/.gitkeep

build/*
!build/.gitkeep

# ---------------------------------------------------------------------
# VS Code 配置管理
# ---------------------------------------------------------------------
# 先忽略整个 .vscode 文件夹的所有内容
.vscode/*
# 唯独排除（也就是保留）以下共享配置文件
!.vscode/launch.json
!.vscode/tasks.json
src/obj/*

# 操作系统临时文件
.DS_Store
Thumbs.db
*.log
*.jnlp